*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-size: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

// Typography
h1 {
    font-family: 'Raleway';
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.75rem;
    color: $veryDarkBlue;

    @include breakpoint-down(mobile) {
        font-size: 2.25rem;
        line-height: 3.25rem;
    }
}

h2 {
    font-family: 'Raleway';
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.75rem;
    color: $veryDarkBlue;

    @include breakpoint-down(mobile) {
        font-size: 1.5rem;
        line-height: 1.875rem;
    }
}

h3 {
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 700;
    color: $veryDarkBlue;

    @include breakpoint-down(mobile) {
        font-size: 1.625rem;
        line-height: 1.875rem;
    }
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: $veryDarkBlue;

    @include breakpoint-down(mobile) {
        font-size: 1.25rem;
        line-height: 1.875rem;
    }
}

a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

// Container
.container {
    max-width: 1280px;
    margin: 0 auto;

    @include breakpoint-down(tablet) {
        margin: 0 2.5rem 0 2.5rem;
    }

    @include breakpoint-down(mobile) {
        margin: 0 1.875rem 0 1.875rem;
    }
}

// Flexbox
.flex {
    display: flex;

    &-col {
        flex-direction: column;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// Grid

.grid {
    display: grid;
}

// Button
.btn {
    display: inline-block;
    border: none;
    background: none;
    font-size: 0.875rem;
    font-weight: 700;
    cursor: pointer;
}

.btn-primary {
    background-color: $brightBlue;
    border-radius: 4px;
    box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.05);
    color: #fff;
}

// Form
.form {
    input[type=email] {
        width: 320px;
        height: 46px;
        padding: 18px 20px 18px 20px;
        border: 1px solid $desaturatedBlue;
        border-radius: 4px;
        font-size: 0.875rem;
        transition: border, box-shadow 0.2s ease;
    }

    input:focus {
        outline: none;
        box-shadow: none;
    }

    input::placeholder {
        color: $lightGray;
    }
}